.banner {
    @extend .d-flex, .justify-content-center, .align-items-center;
    background-color: var(--bs-primary);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    height: 375px;
    margin: 50px auto;
    position: relative;
    transition: var(--bs-transition);
    
    .container {
        z-index: 2; // ensure container sits above overlay
        margin: 220px 0 0 0;

        h1,
        p {
            color: var(--bs-white) !important;
        }

        h1 {
            font-weight: 800;
        }
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;        
        z-index: 1; // sit below the white container
    }

    // .breadcrumbs {
    //     padding: 10px 0;
    //     margin-bottom: 20px;
    // }

    .breadcrumbs a {
        color: var(--bs-white);
        text-decoration: none;

        &:hover {
            color: var(--bs-secondary);
            text-decoration: underline;
        }
    }
    
    .breadcrumbs .current {
        color: #333;
        font-weight: 600;
    }
}