/********************************

	1. btn, btn-primary
	2. btn-secondary
	3. wordpres buttons

********************************/

// 
// 1. btn-primary
//

.btn {
	border-radius: 15px !important;
	font-weight: 600;
	text-transform: uppercase;
	padding: .5rem 2rem .5rem 1rem;
	transition: var(--bs-transition);
}

.btn-primary {
	--bs-btn-color: var(--bs-white);
	--bs-btn-bg: var(--bs-primary);
	--bs-btn-border-color: var(--bs-primary);
	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: var(--bs-secondary);
	--bs-btn-hover-border-color: var(--bs-secondary);
	// --bs-btn-focus-shadow-rgb: 49, 132, 253;
	// --bs-btn-active-color: #fff;
	// --bs-btn-active-bg: #0a58ca;
	// --bs-btn-active-border-color: #0a53be;
	// --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	// --bs-btn-disabled-color: #fff;
	// --bs-btn-disabled-bg: #0d6efd;
	// --bs-btn-disabled-border-color: #0d6efd;
	text-decoration: none;
	position: relative;
	overflow: hidden;

	&::before {
		display: inline-block;
		content: "\F138";
		background-color: var(--bs-secondary);
		border-radius: 10px;
		color: var(--bs-white);
		height: 40px;
		width: 40px;
		padding: 8px 10px;
		position: relative;
		font-family: "bootstrap-icons" !important;
		right: 8px;
	}

	&:hover {
		&::before {
			background-color: var(--bs-white);
			color: var(--bs-primary);
		}
	}
}

.btn-primary.active {
	cursor: pointer;
	cursor: not-allowed;
}


// 
// 2. btn-secondary
//
.btn-secondary {
	--bs-btn-color: var(--bs-primary);
	--bs-btn-bg: var(--bs-white);
	--bs-btn-border-color: var(--bs-white);
	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: var(--bs-secondary);
	--bs-btn-hover-border-color: var(--bs-secondary);
	text-decoration: none;
	position: relative;
	overflow: hidden;
	
	&::before {
		display: inline-block;
		content: "\F138";
		background-color: var(--bs-primary);
		border-radius: 10px;
		color: var(--bs-white);
		height: 40px;
		width: 40px;
		padding: 8px 10px;
		position: relative;
		font-family: "bootstrap-icons" !important;
		right: 8px;
	}

	&:hover {
		&::before {
			background-color: var(--bs-white);
			color: var(--bs-primary);
		}
	}
}

.btn-secondary.active {
	cursor: pointer;
	cursor: not-allowed;
}



.btn-light {
	--bs-btn-color: var(--bs-white);
	--bs-btn-bg: rgba(255, 255, 255, .2);
	--bs-btn-border-color: var(--bs-white);
	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: var(--bs-secondary);
	--bs-btn-hover-border-color: var(--bs-secondary);
	text-decoration: none;
	position: relative;
	overflow: hidden;

	&::before {
		display: inline-block;
		content: "\F138";
		background-color: var(--bs-secondary);
		border-radius: 10px;
		color: var(--bs-white);
		height: 40px;
		width: 40px;
		padding: 8px 10px;
		position: relative;
		font-family: "bootstrap-icons" !important;
		right: 8px;
	}

	&:hover {
		&::before {
			background-color: var(--bs-white);
			color: var(--bs-primary);
		}
	}
}

.btn-light.active {
	cursor: pointer;
	cursor: not-allowed;
}

button.fg-panel-button.fg-panel-button-fullscreen::before {
	content: none !important
}

button.fg-panel-button.fg-panel-button-close::before{
	content: none !important
}
button.fg-panel-button.fg-panel-button-next::before{
	content: none !important
}

button.fg-panel-button.fg-panel-button-prev::before{
	content: none !important
}

button.fg-panel-button.fg-panel-button-info.fg-disabled::before{
	content: none !important
}

// 
// 3. wordpres buttons
//

// Apply Bootstrap styles to WordPress buttons
.wp-block-button__link,
.button,
input[type="submit"],
button {
	@extend .btn; // Extends Bootstrap button base
	@extend .btn-primary; // Default primary button
}

// Adjust block buttons inside Gutenberg editor
.wp-block-button {
	.wp-block-button__link {
		@extend .btn;
		@extend .btn-primary;
	}
}





// 
// 4. Search form clear
//
// Built-in clear "x" button inside search input is controlled by browser-specific pseudo-elements but...



// // 1) Remove the Default Clear Icon Appearance
// input[type="search"]::-webkit-search-cancel-button {
// 	-webkit-appearance: none;
// }




// // 2) Add a Custom Clear Icon
// input[type="search"] {
// 	padding-right: 2.5rem;
// 	/* Provide space for the clear icon */
// 	background-image: url('data:image/svg+xml;utf8,<svg fill="%23ccc" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 1 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>');
// 	background-repeat: no-repeat;
// 	background-position: right 0.75rem center;
// 	background-size: 1rem;
// }