.google-maps {
    width: 100%;
    padding: 10px;
    margin: 30px 0;

    iframe {
        width: 100% !important;
        height: 450px !important;
        border: 2px solid var(--bs-primary) !important;
        border-radius: 20px !important;
    }
}

.contact-details h5 {
    background-color: var(--bs-gray-400);
    border-radius: 20px;
    padding: 10px 0;

    a {
        color: var(--bs-primary);

        &:hover {
            color: var(--bs-secondary);
        }
    }

    p,
    p a {
        font-weight: 600;
        font-size: 1rem;
        margin: 0;
    }

    i {
        background-color: var(--bs-primary);
        border-radius: 50%;
        color: var(--bs-white);
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px; 
    }
}

.contact-form {
    position: relative;
    background-image: url(../img/default/slider.webp); /* Relative path to the image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 50px 20px;
    overflow: hidden; /* To apply border-radius to children */

    .row { /* This is the content container */
        position: relative;
        z-index: 2;
    }

    h2, p {
        color: var(--bs-white);
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
        border-radius: 20px; /* Match parent border-radius */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;        
        z-index: 1;
    }
}