@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");
// font-family: "Montserrat", sans-serif;
// font-family: "Quicksand", sans-serif;

:root {
  --site-max-width: 1400px;
  --site-padding-desktop: 40px;
  --site-padding-tablet: 32px;
  --site-padding-mobile: 20px;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bs-gray-300);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--bs-primary);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bs-secondary);
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 100%;
  font-family: "Quicksand", sans-serif;
  color: #0b1422;
  margin: 0 auto;
  overflow-x: hidden;
}

body,
html {
  height: 100%;
}

:root {
  --bs-transition: all 0.5s;
  --bs-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
}

a {
  color: var(--bs-secondary);
  font-weight: 500;
  text-decoration: none;
  transition: var(--bs-transition);

  &:hover {
    color: var(--bs-primary);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  // font-size: clamp(3rem, 3vw, 4.5rem);
  line-height: 1;
  color: #1a3c6a;
}

.main-heading {
  font-size: clamp(3rem, 3vw, 4.5rem);
  line-height: 1;
  font-weight: 600;
  color: #1a3c6a;
  margin-bottom: 24px;
}

.site-container {
  max-width: var(--site-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--site-padding-desktop);
  padding-right: var(--site-padding-desktop);
  box-sizing: border-box;
  width: 100%;
}

/* Tablet */
@media (max-width: 1024px) {
  .site-container {
    padding-left: var(--site-padding-tablet);
    padding-right: var(--site-padding-tablet);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .site-container {
    padding-left: var(--site-padding-mobile);
    padding-right: var(--site-padding-mobile);
  }
}

/* Make Gutenberg Columns obey site width */
.wp-block-columns {
  max-width: var(--site-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--site-padding-desktop);
  padding-right: var(--site-padding-desktop);
  box-sizing: border-box;
  width: 100%;
}

/* Tablet */
// @media (max-width: 1200px) {
//   .site-container {
//     padding-left: var(--site-padding-tablet);
//     padding-right: var(--site-padding-tablet);
//   }
// }

// /* Mobile */
// @media (max-width: 768px) {
//   .site-container {
//     padding-left: var(--site-padding-mobile);
//     padding-right: var(--site-padding-mobile);
//   }
// }

blockquote.wp-block-quote {
  background-color: var(--bs-white);
  border-left: 4px solid var(--bs-primary);
  border-radius: 5px;
  box-shadow: var(--bs-box-shadow);
  color: var(--bs-secondary);
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: var(--bs-transition);

  &:hover {
    box-shadow: none;
  }
}

p {
  font-weight: 400;
  font-size: 1rem;
}

cite {
  font-style: italic;
  font-size: 0.8rem;
  color: var(--bs-secondary);
}

.badge {
  @extend .text-bg-primary;
  background-color: var(--bs-white);
}

.badge-date {
  color: #333333;
}

.badge-type {
  color: #1a3c6a;
}

.badge- a span.badge {
  @extend .text-bg-primary;
  background-color: var(--bs-white);

  &:hover {
    @extend .text-bg-secondary;
    background-color: var(--bs-white);
  }
}

ul.wp-block-list {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

// TODO: Improve this selector to avoid affecting other blocks
.wp-block-columns {
  @extend .container-fluid;
  padding: 10px 0;
}

.excerpt-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.left-right {
  img {
    border-radius: 20px;
  }

  .background {
    background-color: var(--bs-primary);
    border-radius: 20px;
    padding: 20px;
    height: 100%;

    h2,
    p {
      color: var(--bs-white);
    }
  }
}
